<h1>available acoounts</h1>
<div>
<h2>Twitter</h2>
<p><%= link_to 'Connect Twitter account', new_twitter_account_path %></p>
<h2>facebook</h2>
<p><%= link_to 'Connect facebook account', new_facebook_account_path %></p>

<h2>Linked In</h2>
<p><%= link_to 'Connect linkedin account', new_linkedin_account_path %></p>

</div>
